<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Exam Taker - Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
 <div class="topnav">
  <a href="{{ url_for('login') }}">Log in</a>
 <a href="{{ url_for('signup') }}">Sign Up</a>
 <a href="{{ url_for('auth.logout') }}">Sign Up</a>
</div>
<body>
<h1>Student Exam Taker</h1>

<form action='login' method='POST'>
                <label for="email"><b>Email</b></label><br/>
                <input type='text' name='email' id='email' placeholder='email'/><br/>
                <label for="password"><b>Password</b></label><br/>
                <input type='password' name='password' id='password' placeholder='password'/><br/>
                <input type='submit' name='submit'/>
               </form>
<p>The username or password you entered was incorrect. Please try again.</p>
</body>
</html>