
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Exam Taker - Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
 <div class="topnav">
  <a href="{{ url_for('auth.login') }}">Log in</a>
 <a href="{{ url_for('auth.signup') }}">Sign Up</a>
 <a href="{{ url_for('auth.logout') }}">Log Out</a>
</div>
</div>
<body>
<h1>Student Exam Taker</h1>
<p>Welcome {{ email }}</p>
<div class="vertical-menu">
  <a href="#" class="active"><a href="{{ url_for('main.add_new_course') }}">Create New Class</a></a>
  {%for course in courses%}
  
    <a href="{{url_for('main.view_course', course_id=course.id)}}"> {{course.name}} </a>
{%endfor%}
{{ selected_course.name}}
</div>
</body>
</html>
