
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Exam Taker - Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
 <div class="topnav">
  <a href="{{ url_for('auth.login') }}">Log in</a>
 <a href="{{ url_for('auth.signup') }}">Sign Up</a>
 <a href="{{ url_for('auth.logout') }}">Log Out</a>
</div>
</div>
<body>
<h1>Student Exam Taker</h1>
<p>Welcome {{ email }}</p>

<div class="vertical-menu">
  <a href="#" class="active"><a href="{{ url_for('main.add_new_course') }}">Create New Class</a></a>
  {%for exam in selected_course.exams%}
  
    <a href="{{url_for('main.view_course', course_id=selected_course.id)}}"> {{exam.name}} </a>
{%endfor%}
</div>
<div class="vertical-menu">
  <a href="#" class="active"><a href="{{ url_for('main.createExam', course_id=selected_course.id) }}">Create New Exam for {{ selected_course.name}}</a></a>
  {%for exam in selected_course.exams%}
  
  <a href="{{url_for('main.get_exam', course_id=selected_course.id, exam_id=exam.id)}}"> {{exam.name}} </a>
{%endfor%}
{{ selected_course.name}}
{{selected_exam.name}}
{%for question in selected_exam.questions%}
{{question.text}}
{%endfor%}
</div>
</body>
</html>
