<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Exam Taker - Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
 <div class="topnav">
  <a href="{{ url_for('login') }}">Log in</a>
 <a href="{{ url_for('signup') }}">Sign Up</a>
</div>
<body>
<h1>Student Exam Taker</h1>
<form action='login' method='POST'>
    <label for="email"><b>Email</b></label><br/>
    <input type="text" id="email"/><br/>
    <label for="password"><b>Password</b></label><br/>
    <input type="text" id="password"/><br/>
    <input type="submit" value="Login"/><br/>
</form>
</body>
</html>